*{
	margin: 0;
	padding: 0;

}
body{
	font-family: 'Times New Roman', Times, serif;
}
.main {
	width: 61px;
	height: 43px;
	position: relative;
}

.main > span{
	position: absolute;
}
.dd{
	transform: rotate(38.5deg);
}

.time{
	left: 40%;
	top: 10%;
}
.day{
	left: 10%;
	top: 70%; 
}

.grid-container{
	margin: 0 auto;
  	width: 80%;
  	position: relative;
}
.header{
	margin-top: 33px;
	width: 100%;
	height: 100px;
	padding: 12px;
}
.imageHeader{
	float: left;
	display: block;
	position: relative;
	width: 190px;
}
.imageHeader img{
	width: 79px;
	height: 100px;
}
.textHeader{
	float: left;
	text-align: center;
}
.textHeader > h2{
	text-align: center;
}
.details{
	width: 100%;
	height: auto;
	font-weight: bold;
	
}
.details > strong{
	font-weight: bold;
}
.routine{
	margin-top: 10px;
}
.table{
	width: 100%;
	border-collapse: collapse;
	margin-left: 12px;

}
table, td, th {
  border: 1px solid black;
}
.prayerBreak{
	display: block;
	text-transform: uppercase;
	transform: rotate(90deg);
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing: 12px
}
.signature{
	text-align: right; 
	display: block;
	margin-top: 20px;
}
.signature > h4{
	padding: 5px 20px; 
	border-top: 2px solid gray;
	display: inline-block;
}
